/*
    Global styles
 */

a {
    font-weight: bold;
}

body, #list, #savedLists, #defaultList, #customTheme {
    color: #fff;
    background-color: #161616;
}

button {
    background-color: #737373;
}

.modal-content {
    color: #fff;
    background-color: #404040;
}

.input-group-text {
    color: #fff;
    background-color: #161616;
}

input[type=text]:disabled, input[type=number]:disabled {
    color: #fff;
    background-color: #4d4d4d;
}

input[type=text], input[type=text]:focus, input[type=number], input[type=number]:focus {
    color: #fff;
    background-color: #161616;
}

#closeModal {
    color: #fff;
}

/*
    popup styles
 */

.popup-body {
    background-color: #404040;
}

#openSettings {
    color: #fff;
}

#openHelp {
    color: #fff;
}