/*
    Global styles
 */

a {
    font-weight: bold;
}

body, #list, #savedLists, #defaultList, #customTheme, #currentlyOpenedSetting {
    color: #fff;
    background-color: #404040;
}

body {
    background-color: #333333;
}

.modal-dialog {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #161616;
}

.modal-content {
    color: #fff;
    background-color: #404040;
}

.input-group-text {
    color: #fff;
    background-color: #404040;
}

input[type=text]:disabled, input[type=number]:disabled {
    color: #fff;
    background-color: #4d4d4d;
}

input[type=text], input[type=text]:focus, input[type=number], input[type=number]:focus {
    color: #fff;
    background-color: #404040;
}

#closeModal {
    color: #fff;
}

/*
    popup styles
 */

.popup-body {
    background-color: #404040;
}

#openSettings {
    color: #fff;
}

#openHelp {
    color: #fff;
}
